{% include 'partials/header.html' %}
<p></p>
<div class="container">
	<div class="row">
		{% if answer %}
			<div class="col-sm text-center">
				<h2>
					Correct
				</h2>
			</div>
		{% else %}
			<div class="col-sm text-center">
				<h2>
					Wrong
				</h2>
			</div>
		{% endif %}
	</div>
	<div class="row">
		<h3>
			Accuracy: {{accuracy}}
		</h3>
	</div>
	<div class="row">
		<a href="{% url 'miniproject:subject' subject_id %}"><< Go Back</a>
	</div>
</div>

{% include 'partials/footer.html' %}