{% include 'partials/header.html' %}
<header>
	<br>
	<h2 class="text-center">New Question</h2>
	<hr>
</header>
<div class="container">
	<!-- <div class="text-right">
		already have an Id? <a href="/loginuser">Login</a> here
	</div> -->
	<div class="text-center">
		{{message}}
	</div>
	<form action="{% url 'miniproject:newQuestion' subject_id %}"  method="POST">
		{% csrf_token %}
		<label for='questionName'>Question Name</label>
		<input type="text" name="questionName" class='form-control'>
		<br>
		<label for='questionCode'>Question Code</label>
		<input type="texr" name="questionCode" class='form-control'>
		<br>
		<label for="questionDesc">Question Description</label>
		<textarea class="form-control" name="questionDesc" rows="6"></textarea>
		<br>
		<input type="submit" class="btn btn-primary" value="Add"/>
	</form>
</div>

{% include 'partials/footer.html' %}
