{% include 'partials/header.html' %}
<header>
	<br>
	<h2 class="text-center">Add TestCase</h2>
	<hr>
</header>
<div class="container">
	<!-- <div class="text-center">
		{{message}}
	</div> -->

	{% if documents %}
		<ul>
			{% for document in documents %}
				<li><a href="{{ document.document.url }}">
						{{ document.description }}
				</a></li>
			{% endfor %}
		</ul>
	{% else %}
		<p>No documents.</p>
	{% endif %}

	{% block content %}
		<form method="post" action="{% url 'miniproject:testcase' subject_id question_id %}" enctype="multipart/form-data">
		{% csrf_token %}
			<div>
				Input: 
				<input type="file" name="input" multiple/>
			</div>
			<div>
				Output:
				<input type="file" name="output" multiple/>
			</div>
			<div>
				<button type="submit">Upload</button>
			</div>
		</form>

	  <p><a href="/">Return to home</a></p>
	{% endblock %}

</div>


{% include 'partials/footer.html' %}
